.env
.node_modules
dist
build
coverage
logs
*.log
.DS_Store
.env.local
.env.development
.env.test
.env.production
.env.example
src/config/db.js
src/seed/seed.js
.env
.env.local
.env.development.local
.env.test.local
.env.production.local